<?xml version="1.0"?>
<phpunit
	bootstrap="test/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="emojisense">
			<directory prefix="test-" suffix=".php">./test/php/</directory>
		</testsuite>
	</testsuites>
</phpunit>
